@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

@theme {
  --font-inter: "Inter", "sans-serif";
  /*Primary Colors*/
  --color-primary-darkBlue: #043873;
  --color-primary-lightBlue: #4f9cf9;
  /*Secondary Colors*/
  --color-secondary-yellow: #ffe492;
  --color-secondary-blue: #a7cefc;
  --color-secondary-white: #ffffff;
  --color-secondary-black: #212529;
}

body {
  @apply font-inter
}

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
